{% extends 'base.html'%}
    {%block content%}
    <div class="container" style="padding: 0 10%;">
    <h1>Reset your password</h1>
    <hr>
    <br>
{% if validlink %}
{% load crispy_forms_tags %}
<form action="." method="POST">{% csrf_token %}
    {{form|crispy}}
{% comment %} <p><input type="submit" value="Change my password" /></p> {% endcomment %}
<button type="submit"  class="btn btn-success" style="margin: 12px 0;">Change my password</button>

</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
    </div>
{%endblock%}